@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.van-floating-panel__content, .van-floating-panel__header, .van-safe-area-bottom{
    background-color: #f59e0b !important;
}


.van-floating-panel__header{
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
}

.van-floating-panel__header-bar{
    background-color: white;
}

.on-top{
    z-index: 10000000000 !important;
    font-weight: 800;
}

button.main {
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    background: #ef4444;
    border-radius: 0.75em;
    transform-style: preserve-3d;
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
}

button.main::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fa6a6a;
    border-radius: inherit;
    transform: translate3d(0, 0.75em, -1em);
    transition: transform 150ms cubic-b1ezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}

button.main-press {
    background: #10b981;
    transition: transform 150ms cubic-b1ezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
    transform: translate(0em, 0.75em);
}

button.main-press::before {
    transition: transform 150ms cubic-b1ezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
    transform: translate3d(0, 0, -1em);
}


button.location {
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    background: #10b981;
    border-radius: 0.75em;
    transform-style: preserve-3d;
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
}

button.location::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #5bebbb;
    border-radius: inherit;
    transform: translate3d(0, 0.75em, -0.7em);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}

button.location:active {
    background: #b6ecda;
    transform: translate(0em, 0.75em);
}

button.location:active::before {
    transform: translate3d(0, 0, -1em);
}

button.settings {
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    background: #1045b9;
    border-radius: 0.75em;
    transform-style: preserve-3d;
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
}

button.settings::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #5b75eb;
    border-radius: inherit;
    transform: translate3d(0, 0.75em, -0.7em);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}

button.settings:active {
    background: #b6cbec;
    transform: translate(0em, 0.75em);
}

button.settings:active::before {
    transform: translate3d(0, 0, -1em);
}